body {
    width: 100%;
    background-position: center;
    background-image: url(img/image\ 106.png);
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    position: relative;
    text-align: center;
    padding: 20px;
}

.background {
    position: relative;
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
}

.circle {
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    width: 100%;
    padding-top: 100%; 
}

.circle-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    width: 80%;
    max-width: 400px;
}

h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-size: 14px;
    color: #666;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.voltar {
    display: block;
    margin: 20px auto;
    color: #007BFF;
    font-size: 14px;
    text-decoration: none;
}

.voltar:hover {
    text-decoration: underline;
}

.footer-icons {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 10px;
}

.footer-icons a img {
    width: 30px;
    height: 30px;
}

.advance-button {
    background-color: #ffcc00;
    border: none;
    padding: 10px 20px;
    font-size: 15px;
    margin-top: 1px;
    cursor: pointer;
}
.advance-button:hover {
    background-color: #e6b800;
}


.start-button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    color: #4d0c13;
    background: linear-gradient(180deg, #ff5c80, #e6164e);
    border: 4px solid #82002a;
    border-radius: 8px;
    padding: 10px 40px;
    position: relative;
    box-shadow: 0px 4px 0px #82002a;
    cursor: pointer;
    display: inline-block;
  }

  .start-button:active {
    box-shadow: 0px 2px 0px #82002a;
    transform: translateY(2px);
  }

  .start-button::before {
    content: "";
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    background: #ff8fa0;
    z-index: -1;
    border-radius: 8px;
  }